.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.2s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.7rem;
}

.menuLink:hover {
  filter: brightness(70%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
