* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* equivale a 16px*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*utiliza a font do sistema e se nao encontrar usa a sans serif*/
  background: var(--gray-900);
  color: var(--text-default);
}

.container-fluid {
  max-width: auto;
}

.container {
  max-width: 98rem;
  margin: 0 auto; /*margin 0 auto alinha no centro*/
}

.content {
  margin: 3.2rem;
}
